body, html {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Estilização barra */
.navbar {
  width: 100vw;
  background-color: #003366; /* azul mais escuro pra ficar igual à imagem */
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
  width: 100%;
}

.navbar-logo {
  border-radius: 4px;
}

.navbar-title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}
